<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>semi01_jin</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>danim</servlet-name>
    <servlet-class>com.danim.controller.DanimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>danim</servlet-name>
    <url-pattern>/danim.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>map</servlet-name>
    <servlet-class>com.map.controller.mapController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>map</servlet-name>
    <url-pattern>/map.do</url-pattern>
  </servlet-mapping>
</web-app>