<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plan.mapper">
	
	<resultMap type="planDto" id="planDto">
		<result property="pno" column="PNO"/>
		<result property="ptitle" column="PTITLE"/>
		<result property="psdate" column="PSDATE"/>
		<result property="pldate" column="PLDATE"/>
		<result property="pdata" column="PDATA"/>
		<result property = "pimage" column = "PIMAGE"/>
		<result property="id" column="ID"/>	
	</resultMap>
	
	<select id="selectOne" parameterType="String" resultType="planDto">
		SELECT PNO, PTITLE, PSDATE, PLDATE, PDATA, PIMAGE, ID 
		FROM PLAN 
		WHERE PNO = #{pno } 
	</select>
	
	<update id="saveText" parameterType="planDto">
		UPDATE PLAN SET PDATA = #{pdata} 
		WHERE PNO = #{pno}
	</update>
	
	<select id="selectList" resultType="planDto" parameterType="String">
		SELECT PNO, PTITLE, PSDATE, PLDATE, PDATA, PIMAGE, ID
		FROM PLAN 
		WHERE ID = #{id }
	</select>
	
	<select id="checkPno" parameterType="planDto" resultType="planDto">
		SELECT PNO, PTITLE, PSDATE, PLDATE, PDATA, PIMAGE, ID
		FROM PLAN
		WHERE ID = #{id } AND PNO = #{pno }
	</select>
	
	<insert id="insert" parameterType="planDto" >
		INSERT INTO PLAN VALUES(#{pno} ,#{ptitle}, #{psdate}, #{pldate}, #{pdata },#{pimage }, #{id} )
	</insert>
	
	<select id="setpno" resultType="Integer">
		SELECT COUNT(*) FROM PLAN
	</select>
	
	<insert id="insertPlan" parameterType="planDto">
		INSERT INTO PLAN VALUES(PLANSEQUENCE.NEXTVAL,#{ptitle},#{psdate},#{pldate},#{pdata},#{pimage},#{id})
	</insert>
	
	<select id="selectPno" parameterType="planDto" resultType="String">
		SELECT PNO 
		FROM PLAN 
		WHERE PTITLE = #{ptitle} AND ID = #{id} AND PIMAGE = #{pimage}
	</select>
	
	<!-- 게시글 수 count -->
	
	<select id="getCount" resultType="int">
		SELECT COUNT(*)
		FROM PLAN
	</select>
	
	<delete id="deletePlan" parameterType="String">
  		DELETE FROM PLAN WHERE PNO = #{pno }
 	</delete>	
	
	<!-- 페이징처리를 위한 select -->
	
	<select id="getPaging" parameterType="map" resultType="planDto">
		SELECT PNO,PTITLE,PSDATE,PLDATE,PDATA,PIMAGE,ID
		FROM(SELECT A.*,ROW_NUMBER() OVER(ORDER BY PNO DESC) AS RNUM FROM PLAN A)
		WHERE RNUM BETWEEN #{startPageNo,jdbcType=INTEGER} AND #{endPageNo,jdbcType=INTEGER}
	</select>
	
</mapper>




















